body{
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url(../img/background2.jpg);
	height: 100vh;
	background-size: cover;
	background-position: center;	
	background-repeat: no-repeat;
  	background-attachment: scroll;
}

ul{
	float: right;
	list-style-type: none;
	margin-top: 25px;
}

ul li{
	display: inline-block;
}

ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border:1px solid transparent;
	transition: 0.6s ease; 
}

ul li a:hover{
	background-color: #fff;
	color: #000;
}

ul li.active a{
	background-color: #fff;
	color: #000;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top:7%;
	left: 15%;
	transform: translate(-50%,-50%);
}

.title h1{
	color: #fff;
	font-size: 50px;
}

.box{
	width:300px;
	padding: 40px;
	position: absolute;
	top: 15%;
	left: 37.5%;
	background:#191919;
	text-align: center;
	opacity: 0.9;
}

.box h1{
	color: white;
	text-transform: uppercase;
	font-weight: 500;
}

.box h2, .box p{
	color: white;
}

.box input[type="password"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #3498db;
	padding: 14px 10px;
	width: 280px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
}

.box input[type="submit"]{
	border:0;
	background: none;
	display: block;
	margin: 20px auto;
	text-align: center;
	border: 2px solid #2ecc71;
	padding: 14px 40px;
	outline: none;
	color: white;
	border-radius: 24px;
	transition: 0.25s;
	cursor: pointer;
}
.box input[type="submit"]:hover{
	background: #2ecc71;
}

.box p a{
	text-decoration: none;
	color: white;
}

.box p a:hover{
	font-weight: bold;
}